#logOut {
    visibility: hidden;
    margin: auto;
}
section div {
    text-align: center;
}
#forAuUser {
    margin-bottom: 20px;
}
section button {
    margin-top: 20px;
}
fieldset {
    color: white;
    width: 30%;
    margin: auto;
    font-size: 14pt;
}
table {
    margin: auto;
    margin-top: 20px;
}
input {
    background-color: white;
}