#otvet {
    margin: auto;
    width: 340px;
    height: 300px;
    overflow: auto;
    border: 1px solid white;
    border-image: url(images/iron-border.png) 8 stretch;
    border-width: 8px;
    margin-bottom: 20px;
}
div {
    text-align: center;
}
#poem{
    margin-top: 115px;
}
#stix {
    text-align: left;
}
#books {
    width: 100%;
}
@media screen and (max-device-width:500px)
{
    #otvet {
        width: 300px;
    }
    table {
    }
}